# Строка подключения к локальной базе SQLite или сетевой папке с параметрами блокировок:
# Локальный режим:    file:./database.sqlite?connection_limit=1&socket_timeout=15&busy_timeout=15000
# Сетевая папка:       file:////NAS-SERVER/SharedFolder/database.sqlite?connection_limit=1&socket_timeout=15&busy_timeout=15000
DATABASE_URL="file:./database.sqlite?connection_limit=1&socket_timeout=15&busy_timeout=15000"

# Папка для копий файлов проводника (локальная или сетевая шара):
STORAGE_PATH="./storage"
